# https://www.comet.ml

comet:
  _target_: pytorch_lightning.loggers.comet.CometLogger
  api_key: wIf8mPYXi87PpERUtIBhKOX3c # api key is loaded from environment variable
  save_dir: "${paths.output_dir}"
  project_name: "debug"
  rest_api_key: null
  experiment_name: ${datamodule.dataset}-s=${model.loss.source.weight}-t=${model.loss.target.weight}
  workspace: myworkspace
  experiment_key: null # set to resume experiment
  offline: False
  prefix: ""
